.line{
	position: relative;
	display: inline-block;
	height: 100%;
	width: 100%;
	border: 1px solid black;
	padding: 20px;
	margin: 20px;
	top: 0px;
	left: 0px;

	font-style: normal;
	font-weight: bolder;
	font-size: 20px;
	font-family: courier;
	text-align: left;
	line-height: 50px;
}

#text{
	position: relative;
	display: inline-block;
	padding: 20px;
	margin: 20px;
	top: 20px;
	left: 10px;

	font-style: normal;
	font-weight: lighter;
	font-size: 20px;
	font-family: courier new;
	text-align: right;
	line-height: 40px;
}