.box{
	display: inline-block;
	position: relative;
	width: 100%;
	height: 100%;
	margin: 20px;
	float: left;
	top: 200px;
	font-style: sarif;
	font-weight: lighter;
	font-family: helvetica;
	text-align: justify;
	letter-spacing: 20px;

}