body{
  background-image: linear-gradient(to right, darkgrey, slategrey, darkslateblue, grey);
}

p{
	position: relative;
	display: inline-block;
	top: 100px;
	left: 1%;
	font-style: normal;
	font-weight: lighter;
	font-size: 30pt;
	font-family: didot;
	text-align: left;
	letter-spacing: 0px;
}

a{
	position: relative;
	display: inline-block;
	color: aliceblue;
	font-style: normal;
	font-weight: lighter;
	font-size: 30pt;
	font-family: didot;
	text-align: left;
	letter-spacing: 0px;
}