body{
  background-image: linear-gradient(to right, slategrey, midnightblue, cadetblue, steelblue);
}

p{
	position: relative;
	display: inline-block;
	top: 650px;
	left: 0%;
	font-style: normal;
	font-weight: lighter;
	font-size: 30pt;
	font-family: didot;
	text-align: left;
	letter-spacing: 0px;
}

a{
	position: relative;
	display: inline-block;
	color: darkslateblue;
	font-style: normal;
	font-weight: lighter;
	font-size: 30pt;
	font-family: didot;
	text-align: left;
	letter-spacing: 0px;
}