body{
  background-image: linear-gradient(to right, crimson, indianred, mediumorchid, plum);
}

p{
	position: relative;
	display: inline-block;
	top: 5px;
	left: 0%;
	font-style: normal;
	font-weight: lighter;
	font-size: 30pt;
	font-family: didot;
	text-align: left;
	letter-spacing: 0px;
}

a{
	position: relative;
	display: inline-block;
	color: ghostwhite;
	font-style: normal;
	font-weight: lighter;
	font-size: 30pt;
	font-family: didot;
	text-align: left;
	letter-spacing: 0px;
}