body{
  background-image: linear-gradient(to right, lightyellow, gold, coral, orange, snow);
}

p{
	position: relative;
	display: inline-block;
	top: 400px;
	left: 0%;
	font-style: normal;
	font-weight: lighter;
	font-size: 30pt;
	font-family: didot;
	text-align: left;
	letter-spacing: 0px;
}

a{
	position: relative;
	display: inline-block;
	color: slategrey;
	font-style: normal;
	font-weight: lighter;
	font-size: 30pt;
	font-family: didot;
	text-align: left;
	letter-spacing: 0px;
}