body{
  background-image: linear-gradient(to right, lavenderblush, honeydew, snow, azure);
}

p{
	position: relative;
	display: inline-block;
	top: 700px;
	left: 31%;
	font-style: normal;
	font-weight: lighter;
	font-size: 30pt;
	font-family: didot;
	text-align: left;
	letter-spacing: 0px;
}

a{
	position: relative;
	display: inline-block;
	color: slateblue;
	font-style: normal;
	font-weight: lighter;
	font-size: 30pt;
	font-family: didot;
	text-align: left;
	letter-spacing: 0px;
}