body{
  background-image: linear-gradient(to right, lightcyan, snow, whitesmoke, aliceblue, floralwhite, honeydew);
}

p{
	position: relative;
	display: inline-block;
	top: 300px;
	left: 30%;
	font-style: normal;
	font-weight: lighter;
	font-size: 30pt;
	font-family: didot;
	text-align: left;
	letter-spacing: 0px;
}

a{
	position: relative;
	display: inline-block;
	color: slateblue;
	font-style: normal;
	font-weight: lighter;
	font-size: 30pt;
	font-family: didot;
	text-align: left;
	letter-spacing: 0px;
}