body{
  background-image: linear-gradient(to right, lightgrey, peachpuff, aliceblue, lightpink);
}

p{
	position: relative;
	display: inline-block;
	top: 300px;
	left: 2%;
	font-style: normal;
	font-weight: lighter;
	font-size: 30pt;
	font-family: didot;
	text-align: left;
	letter-spacing: 0px;
}

a{
	position: relative;
	display: inline-block;
	color: darkslategrey;
	font-style: normal;
	font-weight: lighter;
	font-size: 30pt;
	font-family: didot;
	text-align: left;
	letter-spacing: 0px;
}